<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

<div class="card-back">
  <div class="question-recap">{{Definition}}</div>

  <div class="answer-block">
    <div class="answer-tag">Sample Response</div>
    <div class="answer">{{Learnable}}</div>
  </div>

  {{#Extra}}
  <div class="breakdown">
    <div class="breakdown-tag">Breakdown</div>
    {{Extra}}
  </div>
  {{/Extra}}

  {{#Extra 2}}
  <div class="hint-block">{{Extra 2}}</div>
  {{/Extra 2}}

  {{#Extra 3}}
  <div class="extra-block">{{Extra 3}}</div>
  {{/Extra 3}}

  <a href="https://github.com/Shakkak/ProjectAnamnesis" class="watermark" target="_blank">made with ProjectAnamnesis</a>
</div>
