<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Vazirmatn:wght@400;700&display=swap">

<div class="card-back">
  <div class="prompt" dir="rtl">{{Definition}}</div>

  <div class="type-result">{{type:Learnable}}</div>

  <div class="answer-block">
    <div class="english-word">{{Learnable}}</div>
    {{#Extra 2}}
    <div class="ipa">/ {{Extra 2}} /</div>
    {{/Extra 2}}
  </div>

  {{#Extra}}
  <div class="details">{{Extra}}</div>
  {{/Extra}}

  <a href="https://github.com/Shakkak/ProjectAnamnesis" class="watermark" target="_blank">made with ProjectAnamnesis</a>
</div>
